<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Departments</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	
	</head>
	<body class="landing" onload="myFunction()">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
		<nav id="nav" class="visible">
				<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Log In</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/contactus">Contact Us</a></li>
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/accountrecovery">Forgot Password?</a></li>
					
				</ul>
			</nav>
			
		<!-- Main -->
		
			<section id="main" class="wrapper">
				<div class="container">
				
				
				
					<header class="major special">
						<h2>Departments</h2>
					</header>

			<!-- Drop Down -->
			<form action="/departments" method="post">
					<select id="form1" name="form_select" onchange="showDiv(this)">
  					<option value="ART">College of Liberal Arts</option>
 					<option value="BUS">College of Business</option>
  					<option value="CMSC">Computer Science</option>
					</select>
					<button type="submit" class="btn btn-info"> Switch
					<span class="glyphicon glyphicon-floppy-saved"></button>
					&emsp;&emsp;
			</form>
			
			<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Department</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>E-mail</th>
											<th>Rating></th>
										</tr>
									</thead>
									<tbody>
									{{#if table_type}}
									{{#each users}}
										<tr>
										<td>{{department}}</td>
											<td>{{first_name}}</td>
											<td>{{{last_name}}}</td>
											<td>{{{email}}}</td>
											<td>{{{overall}}}</td>
										</tr>
									{{/each}}
									{{/if}}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
										</tr>
									</tfoot>
								</table>
								
							</div>
					
	</div>
		</section>			

			<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.facebook.com/Rateandreview-1894488470796383/?ref=aymt_homepage_panel
				" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="https://twitter.com/RateAndReview17" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="https://www.instagram.com/rateandreview17/" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="https://www.linkedin.com/in/rateandreview-capstone-b78751139" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			
		</div>
	</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			
			<script>
function myFunction() {
}
</script>

	</body>
</html>