<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Administrator Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		
		
		
		
		
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
	</head>
	
	
	<body>

		<!-- Header -->
			<header id="adminheader">
				<h1>Administrator Dashboard</h1>
				
			</header>

				<!-- Nav -->
			<nav id="nav" class="visible">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/admindashboard">My Dashboard</a></li>
					<li><a href="/myaccount">My Account</a></li>
					<li><a href="/allusers">Manage Users</a></li>
					{{#if completeProfile }}
					<li><a href="/completeprofileprof/{{current_user.id}}"><span class="glyphicon glyphicon-alert icon-failure"></span>Complete profile</a></li>
					{{/if}}
					<li><a href="/courseslanding">Manage Courses</a></li>
					<li><a href="/managetutorslanding">Manage Tutors</a></li>
					<li><a href="/announcement">Announcements</a></li>
					<li><a href="/aboutus">Manage Apointments</a></li>
					<li><a href="/aboutus">Manage Reviews</a></li>
					<li><a href="/teacher">Browse Professors</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
						<li><a href="/faq">FAQ</a></li>
					<li><a href="/deactivation">De-Activate</a></li>
					<li><a href="/logout">Log Out</a></li>
					
				</ul>
			</nav>
			
			<!-- Banner -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="adminDash">
			
</div>
 <p> </p>

  
<section id="main" class="wrapper">
			<div class="leftcol leftcol-xs-12 leftcol-md-12"> 
			
			<!-- Button trigger modal -->
 <br>
			&nbsp;
     <p><h4 id="date"></h4></p>
     <p><h4 id="hour"></h4></p>
      <a href="#announcement" class="btn btn-info" data-toggle="collapse">Announcements</a>
  <div id="announcement" class="collapse">
  &nbsp;
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Date</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
									{{#each announcements}}
										<tr>
											<td>{{date}}</td>
											<td>{{{announcement_content}}}</td>
										</tr>
										{{/each}}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
										</tr>
									</tfoot>
								</table>
								
							</div>
							
							
						</section>
							<div class="centercol"> 
							&ensp;
							<h2> Welcome {{current_user.first_name}} </h2> 
							<h6> You are logged in as an administrator</h6>
							
							
							&ensp;
							
  <p>Click on the headings below to view your relevant information.</p>
  <div class="panel-group" id="accordion">
  
<!--
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Upcoming Appointments</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse collapse">
        <div class="panel-body">You have no upcoming appiontments. Search for a tutor to set up a study session!</div>
      </div>
    </div>
-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">My New Mixtape</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
        <span class="glyphicon glyphicon-fire" style="color:red"></span>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Flagged comments</a>
          {{#if unseen_flagged_comments}} <span title="You have {{number_of_flagged}} flagged comment(s) waiting to be reviewed." class="glyphicon glyphicon-alert" style="color:red"></span>{{/if}}
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse in">
        {{#if flagged}}
        <div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br>Professor</th>
					<th><br>StudentID</th>
					<th><br>Comment</th>
					<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each flagged}}
						<tr>
							<td class="shrink">{{professor_first_name}} {{professor_last_name}}</td>
							<td class="shrink">{{student_id}}</td>
							<td>{{comment}}</td>
							<td class = "shrink">
								<form style="margin: 0 0 0 0;" action="/admindashboard" method="post">
									<button title="approve comment" class="btn btn-primary" type="submit" name="flagged_comment" value="-{{course_id}}"><span class="glyphicon glyphicon-ok"></span></button>
									<button title="remove comment" class="btn btn-danger" type="submit" name="flagged_comment" value="{{course_id}}"><span class="glyphicon glyphicon-remove"></span></button>
								</form>
							</td>
						</tr>
					{{/each}}
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div> 
        {{/if}}
        {{#unless flagged}}No comments are currently flagged.{{/unless}}
      </div>
    </div>
    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">All Comments</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        {{#if all_comments}}
        <div class="table-wrapper">
			<table class="alt">
				
				<div align="right">
				<span class="glyphicon glyphicon-ok" style="color:green">:approved</span>
				&nbsp;
				<span class="glyphicon glyphicon-flag" style="color:orange">:flagged</span>
				&nbsp;
				<span class="glyphicon glyphicon-remove" style="color:red">:removed</span>
				&nbsp;
				<span class="glyphicon glyphicon-minus" style="color:gray">:untouched</span>
				</div>
				
				<thead>
					<tr>
					<th><br>Professor</th>
					<th><br>StudentID</th>
					<th><br>Comment</th>
					<th><br>Status</th>
					</tr>
				</thead>
				<tbody>
					{{#each all_comments}}
						<tr>
							<td class="shrink">{{professor_first_name}} {{professor_last_name}}</td>
							<td class="shrink">{{student_id}}</td>
							<td>{{comment}}</td>
							<td class = "shrink">
								{{#if comment_flagged}}
									<span title="flagged" class="glyphicon glyphicon-flag fa-2x" style="color:orange"></span>
								{{/if}}
								{{#if comment_removed}}
									<span title="removed" class="glyphicon glyphicon-remove fa-2x" style="color:red"></span>
								{{/if}}
								{{#if comment_approved}}
									<span title="approved" class="glyphicon glyphicon-ok fa-2x" style="color:green"></span>
								{{/if}}
								{{#unless comment_flagged}}
								{{#unless comment_removed}}
								{{#unless comment_approved}}
									<span title="untouched" class="glyphicon glyphicon-minus fa-2x" style="color:gray"></span>
								{{/unless}}{{/unless}}{{/unless}}
							</td>
						</tr>
					{{/each}}
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div> 
        {{/if}}
        {{#unless all_comments}}There are currently no comments.{{/unless}}
      </div>
    </div>


  </div> 
</div>
</div>
  
    
    
    
    
		
    
    
    
  
    
    
				<!-- CODE -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script>

// d = new Date();


</script>

<script type="text/javascript">
<!--

var d_names = new Array("Sunday", "Monday", "Tuesday",
"Wednesday", "Thursday", "Friday", "Saturday");

var m_names = new Array("January", "February", "March", 
"April", "May", "June", "July", "August", "September", 
"October", "November", "December");

var d = new Date();
var curr_day = d.getDay();
var curr_date = d.getDate();
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }
var curr_month = d.getMonth();
var curr_year = d.getFullYear();
document.getElementById("date").innerHTML = d_names[curr_day] + " " + curr_date + "<SUP>"
+ sup + "</SUP> " + m_names[curr_month] + " " + curr_year;


var a_p = "";
var hour = new Date();

var curr_hour = hour.getHours();
var curr_min = hour.getMinutes();

if (curr_hour < 12)
   {
   a_p = "AM";
   }
else
   {
   a_p = "PM";
   }
if (curr_hour == 0)
   {
   curr_hour = 12;
   }
if (curr_hour > 12)
   {
   curr_hour = curr_hour - 12;
   }

var curr_min = hour.getMinutes();
if (curr_min < 10){
document.getElementById("hour").innerHTML = curr_hour + " : 0" + curr_min + " " + a_p;
} else if (curr_min > 9){
document.getElementById("hour").innerHTML = curr_hour + " : " + curr_min + " " + a_p;
}



</script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main2.js"></script>

	</body>
</html>