<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<script src="assets/js/jquery.min.js"></script>
<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
<!--

var d_names = new Array("Sunday", "Monday", "Tuesday",
"Wednesday", "Thursday", "Friday", "Saturday");

var m_names = new Array("January", "February", "March", 
"April", "May", "June", "July", "August", "September", 
"October", "November", "December");

var d = new Date();
var curr_day = d.getDay();
var curr_date = d.getDate();
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }
var curr_month = d.getMonth();
var curr_year = d.getFullYear();
document.getElementById("date").innerHTML = d_names[curr_day] + " " + curr_date + "<SUP>"
+ sup + "</SUP> " + m_names[curr_month] + " " + curr_year;


var a_p = "";
var hour = new Date();

var curr_hour = hour.getHours();
var curr_min = hour.getMinutes();

if (curr_hour < 12)
   {
   a_p = "AM";
   }
else
   {
   a_p = "PM";
   }
if (curr_hour == 0)
   {
   curr_hour = 12;
   }
if (curr_hour > 12)
   {
   curr_hour = curr_hour - 12;
   }

var curr_min = hour.getMinutes();
if (curr_min < 10){
document.getElementById("hour").innerHTML = curr_hour + " : 0" + curr_min + " " + a_p;
} else if (curr_min > 9){
document.getElementById("hour").innerHTML = curr_hour + " : " + curr_min + " " + a_p;
}
</script>

	<script type='text/javascript'>
	$(document).ready(function() {

    // page is now ready, initialize the calendar...
    var m = moment();
    $('#calendar').each(function(){
        var calendar = $(this);
        calendar.fullCalendar({

    //$('#calendar').fullCalendar({
        
        header: {
        	left: 'prev today',
        	center: 'title',
        	right: 'month,agendaWeek,agendaDay next'
        },
        navLinks: true,
        selectable: true,
        selectHelper: true,
        select: function(start, end) {
        	var title = prompt('Event Title:');
        	var eventData;
        	if (title) {
        		eventData = {
        				title: title,
        				start: start,
        				end: end
        			};
        			$('#calendar').fullCalendar('renderEvent', eventData, true);
        		}
        		$('#calendar').fullCalendar('unselect');
        	},
        	// US Holidays
			events: 'en.usa#holiday@group.v.calendar.google.com',
			
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
        	editable: true,
        	eventLimit: true,
        	
        	googleCalendarApiKey: 'AIzaSyD0S1WbQcUJ31SkY7wU8vK6MQcNFbNppdA',
       			events: {
           		 googleCalendarId: 'chaosgrunt22@gmail.com'
       		 }
        })
        })
        });
	</script>

<title>Schedule Appointment</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel='stylesheet' href='assets/css/fullcalendar.css' />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

	<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

	<!-- Nav -->
			<nav id="nav"  class="visible">
				<ul class="links">
					<li><a href="/">Home</a></li>
					
					{{#if user_admin}}
						<li><a href="/admindashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_professor}}
						<li><a href="/facultydashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_tutor}}
						<li><a href="/tutordashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_student}}
						<li><a href="/studentdashboard">My Dashboard</a></li>
					{{/if}}
					
					{{#if user_null}}
						<li><a href="/login">Log In</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/activation">Activate Account</a></li>
						<li><a href="/accountrecovery">Forgot Password?</a></li>
					{{/if}}
					
						<li><a href="/teacher">Browse Professors</a></li>
					
					{{#unless user_admin}}
						<li><a href="/contactus">Contact Us</a></li>
					{{/unless}}
						<li><a href="/aboutus">About Us</a></li>
						<li><a href="/faq">FAQ</a></li>
					
					{{#unless user_null}}
						<li><a href="/logout">Log Out</a></li>
					{{/unless}}
				</ul>
			</nav>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div id="calendar" class="container">


		</div>
		
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Upcoming Appointments</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
		{{#if appointments}}
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br>Student</th>
					<th><br>Date</th>
					<th><br>Time</th>
					<th><br>Student Message</th>
					<th><br>Your Response</th>
					</tr>
				</thead>
				<tbody>
						{{#each appointments}}		
							<tr>
							<td class="shrink">{{student_firstname}} {{student_lastname}}</td>
							<td class="shrink">{{date}}</td>
							<td class="shrink">{{time}}</td>
							<td>{{student_message}}</td>
							<td>{{tutor_message}}</td>
							</tr>				
						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div> 
     	{{/if}}

      </div>
    </div>
    
        
      </div>
    </div>
  </div> 
</div>

	</section>

		
	

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled.</li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a>.
				</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a>.
				</li>
			</ul>
		</div>
	</footer>
	
	
	

	<!-- Scripts -->
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src='assets/js/moment.min.js'></script>
<script src='assets/js/fullcalendar.js'></script>
<script src='assets/js/gcal.js'></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>