<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>


	<head>
		<title>Student Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>


	<body>

		<!-- Header -->
			<header id="header">
				<h1>Student Dashboard</h1>
			</header>

			<!-- Nav -->
			<nav id="nav" class="visible">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/studentdashboard">My Dashboard</a></li>
					<li><a href="/myaccount">My Account</a></li>
					{{#if completeProfile }}
					<li><a href="/completeprofilestudent/{{current_user.id}}"><span class="glyphicon glyphicon-alert icon-failure"></span>Complete profile</a></li>
					{{/if}}
					<li><a href="/teacher">Browse Professors</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
						<li><a href="/faq">FAQ</a></li>
					<li><a href="/deactivation">De-Activate</a></li>
					<li><a href="/logout">Log Out</a></li>


				</ul>
			</nav>

			<!-- Banner -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="studentDash">
</div>
 <p> </p>



<section id="main" class="wrapper">
			<div class="leftcol">

			<!-- Button trigger modal -->
 <br>
			&nbsp;
     <p><h4 id="date"></h4></p>
     <p><h4 id="hour"></h4></p>
      <a href="#announcement" class="btn btn-info" data-toggle="collapse">Announcements</a>
  <div id="announcement" class="collapse">
  &nbsp;
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Date</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
									{{#each announcements}}
										<tr>
											<td>{{date}}</td>
											<td>{{{announcement_content}}}</td>
										</tr>
										{{/each}}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
										</tr>
									</tfoot>
								</table>

							</div>







						</section>
							<div class="centercol">
							&ensp;
							<h2> Welcome {{current_user.first_name}}</h2>
							  <h6> You are logged in as a student</h6>
							  <br/>
							  <div name="error">
						<p style='color: red'>{{error}}</p>
					</div>

							&ensp;

  <p>Click on the headings below to view your relevant information.</p>
  <div class="panel-group" id="accordion">

	<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Courses To Review</a>
          {{#unless no_courses_to_review}} <span title="You have {{number_of_courses}} class(es) waiting to be reviewed." class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span>{{/unless}}
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse {{#unless no_courses_to_review}}in{{/unless}}{{#if no_courses_to_review}}collapse{{/if}}">
      	{{#if no_courses_to_review}}You have no more courses to review.{{/if}}
		{{#unless no_courses_to_review}}
      	<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th><br />Professor Name</th>
											<th><br />Course</th>
											<th><br />Semester</th>
											<th><br />Year</th>
											<th><br /></th>
										</tr>
									</thead>
									<tbody>
									{{#each courses_not_reviewed}}
									{{#unless semester_past}}
										<tr>
											<td>{{professor_first_name}} {{professor_last_name}}</td>
											<td>{{course_subject_number}}</td>
											<td>{{semester}}</td>
											<td>{{year}}</td>
											<td class="shrink"><a title="click here to review" href="/reviewprofessor/{{student_course_id}}/review"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></a></td>
										</tr>
									{{/unless}}
									{{/each}}
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>
							{{/unless}}
      				</div>
    	</div>



    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">My Recent Reviews</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse {{#unless no_courses_to_review}}collapse{{/unless}}{{#if no_courses_to_review}}in{{/if}}">
    {{#if no_courses_reviewed}}You do not have any recent reviews.{{/if}}
	{{#unless no_courses_reviewed}}
        <div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th></th>
											<th><br />Professor Name</th>
											<th><br />Course</th>
											<th><br />Semester</th>
											<th><br />Year</th>
										</tr>
									</thead>
									<tbody>
									{{#each courses_reviewed}}

										<tr>
											<td class="shrink" align="center">
											{{#unless semester_past}}
											{{#unless disable_edit}}
											<a title="edit your review" href="/reviewprofessor/{{student_course_id}}/review"><span class="glyphicon glyphicon-pencil fa-2x" style="color:blue"></span></a>
											{{/unless}}
											{{/unless}}

											{{#if semester_past}}
												<a title="edit-disabled" href="/reviewprofessor/{{student_course_id}}/review"><i class="fa fa-eye fa-2x" aria-hidden="true" style="color:black"></i></a>
											{{/if}}
											{{#unless semester_past}}
											{{#if disable_edit}}
												<a title="edit disabled" href="/reviewprofessor/{{student_course_id}}/review"><i class="fa fa-eye fa-2x" aria-hidden="true" style="color:black"></i></a>
											{{/if}}
											{{/unless}}

											</td>
											<td>{{professor_first_name}} {{professor_last_name}}</td>
											<td>{{course_subject_number}}</td>
											<td>{{semester}}</td>
											<td>{{year}}</td>
										</tr>
									{{/each}}
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>
							{{/unless}}
      		</div>
  	</div>






    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Request Tutor Appointment</a>
        </h4>
      </div>
		<div id="collapse2" class="panel-collapse collapse">

		{{#unless available_tutors}}No available tutors at this time.{{/unless}}
		{{#if available_tutors}}
      	 <div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br />Tutor</th>
					<th><br />Subject</th>
					<th><br />Specialty</th>
					<th><br />Rating</th>
					<th><br />Date</th>
					<th><br />Time</th>
					<th><br />Message (Size limit: 200)</th>
					<th></th>
					</tr>
				</thead>
				<tbody>
						{{#each tutors}}

							<tr>
							<form action="/studentdashboard" method="post">
							<td class="shrink">{{tutor_first_name}} {{tutor_last_name}}</td>
							<td class="shrink">{{subject}}</td>
							<td class="shrink">{{course_name}}</td>
							<td class="shrink">{{#if overall}}{{overall}}/5{{/if}}{{#unless overall}}No Ratings{{/unless}}</td>
							<td class="shrink"><input type="date" name="date" id="date" value="" placeholder="Date" /></td>
							<td class="shrink"><input type="time" name="time" id="time" value="" placeholder="Time" /></td>
							<td><input type="text" name="student_message" id="student_message" placeholder="Leave a message here." /></td>
							<td class = "shrink">
								<button title="send request" class="btn btn-link" type="submit" name="tutor_id" value="{{student_id}},{{id}}"><i class="fa fa-arrow-right fa-2x" aria-hidden="true" style="color:gray"></i></button>
							</td>
							</form>
							</tr>

						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			{{/if}}
		</div>
		</div>

		<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Appointment Responses</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse collapse">


       {{#unless upcoming_appointments_scheduled}}You have no appointments listed.{{/unless}}
       {{#if upcoming_appointments_scheduled}}
        <div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br />Tutor</th>
					<th><br />Subject</th>
					<th><br />Date</th>
					<th><br />Time</th>
					<th><br />Your Message</th>
					<th><br />Tutor Response</th>
					<th><br />Status</th>
					<th><br />Cancel / Remove</th>
					</tr>
				</thead>
				<tbody>
						{{#each upcoming_appointments}}
							<tr>
								<form action="/studentdashboard" method="post">
								<td class="shrink">{{tutor_firstname}} {{tutor_lastname}}</td>
								<td class="shrink">{{course_name}}</td>
								<td class="shrink">{{date}}</td>
								<td class="shrink">{{time}}</td>
								<td>{{student_message}}</td>
								<td>{{tutor_message}}</td>
								<td class="shrink">
									{{#unless tutor_has_responded}}
									{{#unless appointment_past}}
										<span title="pending" class="glyphicon glyphicon-option-horizontal fa-2x"></span>
									{{/unless}}
									{{#if appointment_past}}
										<i title="tutor did not see request, and the date has passed" class="fa fa-eye-slash fa-2x" aria-hidden="true"></i>
									{{/if}}
									{{/unless}}
									{{#if tutor_has_responded}}
										{{#unless appointment_status}}
											<span title="declined" class="glyphicon glyphicon-remove fa-2x" style="color:red"></span>
										{{/unless}}
										{{#if appointment_status}}
										{{#unless appointment_past}}
												<span title="approved" class="glyphicon glyphicon-ok fa-2x" style="color:green"></span>
										{{/unless}}
										{{#if appointment_past}}
											<span title="past" class="glyphicon glyphicon-time fa-2x" style="color:orange"></span>
										{{/if}}
										{{/if}}
									{{/if}}
								</td>

								<td class="shrink">
									{{#if tutor_has_responded}}
										{{#if appointment_status}}
										{{#unless appointment_past}}
											<button title="cancel appointment" class="btn btn-link" type="submit" name="tutor_id" value="-{{appointment_id}},0"><span class="glyphicon glyphicon-remove fa-2x" style="color:black"></span></button>
										{{/unless}}
			<!--						{{#if appointment_past}}
											<button class="btn btn-link disabled" type="button"><span class="glyphicon glyphicon-remove fa-2x" style="color:black"></span></button>
										{{/if}}
			-->
										{{/if}}
			<!--						{{#unless appointment_status}}
											<button class="btn btn-link disabled" type="button"><span class="glyphicon glyphicon-remove fa-2x" style="color:black"></span></button>
										{{/unless}}
			-->
									{{/if}}
			<!--					{{#unless tutor_has_responded}}
										<button class="btn btn-link disabled" type="button"><span class="glyphicon glyphicon-remove fa-2x" style="color:black"></span></button>
									{{/unless}}
			-->
									{{#if tutor_has_responded}}
										{{#unless appointment_status}}
											<button title="delete denied appointment" class="btn btn-link" type="submit" name="tutor_id" value="-{{appointment_id}},0"><span class="glyphicon glyphicon-trash fa-2x" style="color:red"></span></button>
										{{/unless}}
										{{#if appointment_status}}
			<!--						{{#unless appointment_past}}
											<button class="btn btn-link disabled" type="button"><span class="glyphicon glyphicon-trash fa-2x" style="color:red"></span></button>
										{{/unless}}
			-->
										{{#if appointment_past}}
											<button title="remove past appointment" class="btn btn-link" type="submit" name="tutor_id" value="-{{appointment_id}},0"><span class="glyphicon glyphicon-trash fa-2x" style="color:red"></span></button>
										{{/if}}
										{{/if}}
									{{/if}}
									{{#unless tutor_has_responded}}
										<button title="delete request" class="btn btn-link" type="submit" name="tutor_id" value="-{{appointment_id}},0"><span class="glyphicon glyphicon-trash fa-2x" style="color:red"></span></button>
									{{/unless}}
								</td>
									<form action="/studentdashboard" method="post">
								</tr>
						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
    		{{/if}}


      </div>

    </div>



    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Review Tutor Appointment</a>
          {{#if num_of_appointments}} <span title="You have {{num_of_appointments}} appointment(s) waiting to be reviewed." class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span>{{/if}}
        </h4>
      </div>
		<div id="collapse5" class="panel-collapse collapse">

		{{#unless appointments_not_reviewed}}No appointments to review.{{/unless}}
		{{#if appointments_not_reviewed}}
      	 <div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br />Tutor</th>
					<th><br />Subject</th>
					<th><br />Specialty</th>
					<th><br />Date</th>
					<th><br />Time</th>
					<th></th>
					</tr>
				</thead>
				<tbody>
						{{#each appointments_not_reviewed}}

							<tr>
							<form action="/studentdashboard" method="post">
							<td>{{tutor_firstname}} {{tutor_lastname}}</td>
							<td>{{department}}</td>
							<td>{{course_name}}</td>
							<td>{{date}}</td>
							<td>{{time}}</td>
							<td class="shrink">
								<a title="click here to review" href="/tutorreview/{{appointment_id}}"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></a>
							</td>
							</form>
							</tr>

						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			{{/if}}
		</div>
		</div>




    </div>







	</div>
  </div>




				<!-- CODE -->

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script>

// d = new Date();


</script>

<script type="text/javascript">
<!--

var d_names = new Array("Sunday", "Monday", "Tuesday",
"Wednesday", "Thursday", "Friday", "Saturday");

var m_names = new Array("January", "February", "March",
"April", "May", "June", "July", "August", "September",
"October", "November", "December");

var d = new Date();
var curr_day = d.getDay();
var curr_date = d.getDate();
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }
var curr_month = d.getMonth();
var curr_year = d.getFullYear();
document.getElementById("date").innerHTML = d_names[curr_day] + " " + curr_date + "<SUP>"
+ sup + "</SUP> " + m_names[curr_month] + " " + curr_year;


var a_p = "";
var hour = new Date();

var curr_hour = hour.getHours();
var curr_min = hour.getMinutes();

if (curr_hour < 12)
   {
   a_p = "AM";
   }
else
   {
   a_p = "PM";
   }
if (curr_hour == 0)
   {
   curr_hour = 12;
   }
if (curr_hour > 12)
   {
   curr_hour = curr_hour - 12;
   }

var curr_min = hour.getMinutes();
if (curr_min < 10){
document.getElementById("hour").innerHTML = curr_hour + " : 0" + curr_min + " " + a_p;
} else if (curr_min > 9){
document.getElementById("hour").innerHTML = curr_hour + " : " + curr_min + " " + a_p;
}



</script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main2.js"></script>

	</body>
</html>