<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Tutor Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
	</head>
	
	
	<body>

		<!-- Header -->
			<header id="tutorheader">
				<h1>Tutor Dashboard</h1> 
			</header>

			<!-- Nav -->
			<nav id="nav" class="visible">
				<ul class="links">
					<li><a href="/tutordashboard">Home</a></li>
					<li><a href="/register">My Account</a></li>
					<li><a href="/aboutus">View Apointments</a></li>
					<li><a href="/aboutus">View Reviews</a></li>
					<li><a href="/allusers">My Classes</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/deactivation">De-Activate</a></li>
					<li><a href="/login">Log Out</a></li>
					
				</ul>
			</nav>
			
			<!-- Banner -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="tutorDash">
</div>
 <p> </p>

   
  
<section id="main" class="wrapper">
			<div class="leftcol"> 
			
			<!-- Button trigger modal -->
 <br>
			&nbsp;
     <p><h4 id="date"></h4></p>
     <p><h4 id="hour"></h4></p>
      <a href="#announcement" class="btn btn-info" data-toggle="collapse">Announcements</a>
  <div id="announcement" class="collapse">
  &nbsp;
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Date</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
									{{#each announcements}}
										<tr>
											<td>{{date}}</td>
											<td>{{{announcement_content}}}</td>
										</tr>
										{{/each}}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
										</tr>
									</tfoot>
								</table>
								
							</div>
							
							
						</section>
							<div class="centercol"> 
							&ensp;
							<h2> Welcome {{current_user.first_name}} </h2> <h6> You are logged in as a tutor</h6>
							
							&ensp;
							
  <p>Click on the headings below to view your relevant information.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Upcoming Appointments</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
		{{#unless upcoming_appointments}}You do not currently have any scheduled appointments.{{/unless}}
		{{#if upcoming_appointments}}
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br>Student</th>
					<th><br>Date</th>
					<th><br>Time</th>
					<th><br>Student Message</th>
					<th><br>Your Response</th>
					</tr>
				</thead>
				<tbody>
						{{#each approved_appointments}}		
							<tr>
							<td class="shrink">{{student_firstname}} {{student_lastname}}</td>
							<td class="shrink">{{date}}</td>
							<td class="shrink">{{time}}</td>
							<td class="shrink">{{student_message}}</td>
							<td>{{tutor_message}}</td>
							</tr>				
						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div> 
     	{{/if}}

      </div>
    </div>
    
<!--   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">My Classes</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">You have not added any classes to your profile. Click on My Classes on the side menu to add your courses!</div>
      </div>
    </div>
    
-->  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">My Appointment Requests</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
	{{#unless appointments_requested}}You do not currently have any appointment requests.{{/unless}}
	{{#if appointments_requested}}
        <div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
					<th><br>Student</th>
					<th><br>Date</th>
					<th><br>Time</th>
					<th><br>Message</th>
					<th><br>Response</th>
					<th></th>
					</tr>
				</thead>
				<tbody>
						{{#each appointments}}
						{{#unless tutor_has_responded}}
							<tr>
							<form action="/tutordashboard" method="post">
							<td class="shrink">{{student_firstname}} {{student_lastname}}</td>
							<td class="shrink">{{date}}</td>
							<td class="shrink">{{time}}</td>
							<td class="shrink">{{student_message}}</td>
							<td><input type="text" name="tutor_message" id="tutor_message" placeholder="Leave a response here." /></td>
							<td class = "shrink">
								<button class="btn btn-primary" type="submit" name="appointment_id" value="{{appointment_id}}"><span class="glyphicon glyphicon-ok"></span></button>
								<button class="btn btn-danger" type="submit" name="appointment_id" value="-{{appointment_id}}"><span class="glyphicon glyphicon-remove"></span></button>
							</td>
							</form>
							</tr>
						{{/unless}}
						{{/each}}
				</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div> 
        {{/if}}
        
        
        
      </div>
    </div>
  </div> 
</div>
		
			
  </div>
  
    
    
    
    
		
    
    
    
  
    
    
				<!-- CODE -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script>

// d = new Date();


</script>

<script type="text/javascript">
<!--

var d_names = new Array("Sunday", "Monday", "Tuesday",
"Wednesday", "Thursday", "Friday", "Saturday");

var m_names = new Array("January", "February", "March", 
"April", "May", "June", "July", "August", "September", 
"October", "November", "December");

var d = new Date();
var curr_day = d.getDay();
var curr_date = d.getDate();
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }
var curr_month = d.getMonth();
var curr_year = d.getFullYear();
document.getElementById("date").innerHTML = d_names[curr_day] + " " + curr_date + "<SUP>"
+ sup + "</SUP> " + m_names[curr_month] + " " + curr_year;


var a_p = "";
var hour = new Date();

var curr_hour = hour.getHours();
var curr_min = hour.getMinutes();

if (curr_hour < 12)
   {
   a_p = "AM";
   }
else
   {
   a_p = "PM";
   }
if (curr_hour == 0)
   {
   curr_hour = 12;
   }
if (curr_hour > 12)
   {
   curr_hour = curr_hour - 12;
   }

var curr_min = hour.getMinutes();
if (curr_min < 10){
document.getElementById("hour").innerHTML = curr_hour + " : 0" + curr_min + " " + a_p;
} else if (curr_min > 9){
document.getElementById("hour").innerHTML = curr_hour + " : " + curr_min + " " + a_p;
}



</script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main2.js"></script>

	</body>
</html>