<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Professor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/tutors">Tutors</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/teacher">Teacher</a></li>
					<li><a href="/accountrecovery">Forgot Password?</a></li>
					
				</ul>
			</nav>
			
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2 id="lastname"></h2>
					</header>

					<!-- Text -->
						<section>
							<h3>{{course.professor_first_name}} {{course.professor_last_name}}</h3>
							<p>Overall rating:</p>

							<hr />
							</section>
					
			<div id="class_list">
			
			<br>
			
			<ul> Were course objectives met?: </ul>
			
			<ul> Were courses well planned and scheduled?: </ul>
			
			<ul> Difficulty of courses: </ul>
			
			<ul> Amount of work required outside of class: </ul>
			
			<ul> Pace of presented course material: </ul>
			
			<ul> Do assignments provide a good learning experience?: </ul>
			
			<ul> How fairly assignments and exams are graded?: </ul>
			
			<ul> How timely is the grading of assignments?: </ul>
			
			<ul> How accessible is the instructor outside of class?: </ul>
			
			<ul> How relevant and up-to-date is the instructor's knowledge?: </ul>
			
			<ul> How value are the instructor's courses for career development?: </ul>
			
			<!-- Table -->
						<section>
						<br>
							<h3>Comments:</h3>
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th><br>Course</th>
											<th><br>Semester</th>
											<th><br>Comment</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									{{#each courses}}
										<tr>
											<td>{{course}}</td>
											<td>{{semester}} {{year}}</td>
											<td>{{comment}}</td>
										</tr>
									{{/each}}
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div> 
							
				
			
			
			</div>
			
			</section>
  			

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
