<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Professor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

			<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/tutors">Tutors</a></li>
					<li><a href="/login">Register</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/teacher">Teacher</a></li>
					
				</ul>
			</nav>
			
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>{{course.professor_first_name}} {{course.professor_last_name}}</h2>
					</header>

					<!-- Text -->
						<section>
							<h3>{{course.course_name}} <label id="semester_year"> {{course.semester}} {{course.year}}</label></h3>
									
							</section>
			<form action="/reviewprofessor/{{course.course_id}}/review" method="post">
			
			
				<h4>Were the course objectives met? (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_objectives" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_objectives" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_objectives" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_objectives" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_objectives" value="5">5</label>
				
				<h4>Was the course well planned and followed a schedule? (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_organized" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_organized" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_organized" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_organized" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_organized" value="5">5</label>
				
				<h4>Rate the courses difficulty (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_challenging" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_challenging" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_challenging" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_challenging" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_challenging" value="5">5</label>
				
				<h4>Amount of work I performed outside of scheduled class time (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_outside_work" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_outside_work" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_outside_work" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_outside_work" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_outside_work" value="5">5</label>
				
				<h4>Rate the pace of the presented course material (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_pace" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_pace" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_pace" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_pace" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_pace" value="5">5</label>
				
				<h4>Rate the learning experience efficiency of the assignments (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_assignments" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_assignments" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_assignments" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_assignments" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_assignments" value="5">5</label>
				
				<h4>Were homework and exams graded fairly (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_grade_fairly" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_grade_fairly" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_fairly" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_fairly" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_fairly" value="5">5</label>
				
				<h4>Were homework and exams graded in reasonable time (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_grade_time" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_grade_time" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_time" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_time" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_grade_time" value="5">5</label>
				
				<h4>Accessibility of the instructor outside of scheduled class time (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_accessibility" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_accessibility" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_accessibility" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_accessibility" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_accessibility" value="5">5</label>
				
				<h4>The instructor's knowledge of the subject was relevant and up-to-date (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_knowledge" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_knowledge" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_knowledge" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_knowledge" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_knowledge" value="5">5</label>
				
				<h4>How valuable was this course for your career development (1-5):</h4>
				<label class="radio inline"><input type="radio" name="rate_career_development" value="1" checked>1</label>
				<label class="radio inline"><input type="radio" name="rate_career_development" value="2">2</label> 
				<label class="radio inline"><input type="radio" name="rate_career_development" value="3">3</label> 
				<label class="radio inline"><input type="radio" name="rate_career_development" value="4">4</label> 
				<label class="radio inline"><input type="radio" name="rate_career_development" value="5">5</label>
			
				<div class="container"> <br>
				
				 
				<h4>Comment:</h4> <br>
				<textarea name="comment"></textarea> <br>
				
				<input type="submit" value="Submit">
				</form>
				</div>
			</div>
			</section>
  			
			

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		
		<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main2.js"></script>
		
	</body>
</html>