<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>Browse Professors</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- The scroll to top links below -->
		
	<link rel="stylesheet" href="back-to-top/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="back-to-top/css/style.css"> <!-- Gem style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	
	
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	

</head>
<style>
#banner {
	padding: 12em 0 1em 0;
	background-color: #1E2832;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-image: url(images/bricks.jpg),
		url(../../images/bricks.jpg);
	background-size: contain;
	text-align: center;
	color: #07090c;
}
.cd-top {
    left: 40px;
    bottom: 40px;
}

#header > h1 a {
    font-size: 1.0em;
  font-weight: bold; 
}
</style>

<body>
	<!-- header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/rateandreview">RateAndReview</a>
		</h1>
		<a href="#nav">Menu</a>

	</header>

	<!-- Nav -->
	<nav id="nav"  class="visible">
	<ul class="links">
					<li><a href="/rateandreview">Home</a></li>
					
					{{#if user_admin}}
						<li><a href="/rateandreview/admindashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_professor}}
						<li><a href="/rateandreview/facultydashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_tutor}}
						<li><a href="/rateandreview/tutordashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_student}}
						<li><a href="/rateandreview/studentdashboard">My Dashboard</a></li>
					{{/if}}
					
					{{#if user_null}}
						<li><a href="/rateandreview/signin">Log In</a></li>
						<li><a href="/rateandreview/register">Register</a></li>
						<li><a href="/rateandreview/activation">Activate Account</a></li>
						<li><a href="/rateandreview/accountrecovery">Forgot Password?</a></li>
					{{/if}}
					
						<li><a href="/rateandreview/teacher">Browse Professors</a></li>
					
					{{#unless user_admin}}
						<li><a href="/rateandreview/contactus">Contact Us</a></li>
					{{/unless}}
						<li><a href="/rateandreview/aboutus">About Us</a></li>
						<li><a href="/rateandreview/faq">FAQ</a></li>
					
					{{#unless user_null}}
						<li><a href="/rateandreview/logout">Log Out</a></li>
					{{/unless}}
				</ul>
	</nav>
	<!-- Banner -->
	<section id="banner">

		<h2>
			<i class="fa fa-book fa-2x" aria-hidden="true"></i>

		</h2>

		<!-- <i class="icon fa-diamond"></i> -->
		<h2>Browse Professors</h2>

	</section>




	<section id="main" class="wrapper">
		<div class="leftcol">

			<!-- Button trigger modal -->
			<br> &nbsp;
			<p>
			<h4 id="date"></h4>
			</p>
			<p>
			<h4 id="hour"></h4>
			</p>
			<a href="#announcement" class="btn btn-info" data-toggle="collapse">Announcements</a>
			<div id="announcement" class="collapse">
				&nbsp;


				<div class="table-wrapper">
					<table class="alt">
						<thead>
							<tr>
								<th>Date</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							{{#each announcements}}
							<tr>
								<td>{{date}}</td>
								<td>{{{announcement_content}}}</td>
							</tr>
							{{/each}}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2"></td>
							</tr>
						</tfoot>
					</table>

				</div>
	</section>

	<div class="centercol">
		&ensp;
		<h2>View all professors</h2>



		<p>View all the registered professors.</p>
		<p>Click on the professor's name to go to their ratings page.</p>
		&ensp;
  <br/>
  <form action="/rateandreview/teacher" method="GET">
  
  &nbsp;&nbsp;
  <div>
    <input type="text" name="search" placeholder="Search Users..." />
  </div>

</form>

 <div name="error">
						<p style='color: red'>{{error}}</p>
					</div>





		<div class="table-wrapper">
			&nbsp;&nbsp;
			<table id="indextable" class="indextable alt">
				<thead>
					<tr>
						
						<th class="shrink text-left"><a
							href="javascript:SortTable(3,'T');" class="btn btn-link" style="color:black">Image
							<i class="fa fa-sort" aria-hidden="true"></i>
								</button>
						</a></th>
						<th class=" shrink text-left"><a
							href="javascript:SortTable(1,'T');" class="btn btn-link" style="color:black">Name
							<i class="fa fa-sort" aria-hidden="true"></i>
								</button>
						</a></th>
						<th class="shrink text-left"><a
							href="javascript:SortTable(2,'T');" class="btn btn-link" style="color:black">Email
							<i class="fa fa-sort" aria-hidden="true"></i>
								</button>
						</a></th>

						<th class="text-left"><a href="javascript:SortTable(3,'T');"
							class="btn btn-link" style="color:black">Department
							<i class="fa fa-sort" aria-hidden="true"></i>
								</button>
						</a></th>
						<th class="text-left"><a href="javascript:SortTable(4,'N');"
							class="btn btn-link" style="color:black">Overall Rating
							<i class="fa fa-sort" aria-hidden="true"></i>
								</button>
						</a></th>


					</tr>
				</thead>
				<tbody>
					{{#each professors}}
					
					<tr>


						
						<td class="shrink text-center"><img src="/images/{{profilepic}}.JPG"  width="55%" height="%55"></td>
						<td class="shrink"><a href="/rateandreview/professor/{{id}}/Overview">{{last_name}} , {{first_name}}</a></td>
						<td class="shrink"><a
							href="mailto:{{email}}?Subject=Rate%20and %20Review"><span
								class="glyphicon glyphicon-envelope"></span> {{email}}</a></td>

						<td class="shrink">{{major}}</td>

<td class="shrink">{{#if overall}} {{overall}} {{/if}}
{{#unless overall}}
No reviews.
{{/unless}}

</td>




					</tr>
					{{/each}}
				</tbody>
				
			</table>
			
			
			<a href="/teacher"  class="btn btn-info"> View All</a>
		</div>
</br>

<div>
<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.facebook.com/Rateandreview-1894488470796383/?ref=aymt_homepage_panel
				" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="https://twitter.com/RateAndReview17" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="https://www.instagram.com/rateandreview17/" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="https://www.linkedin.com/in/rateandreview-capstone-b78751139" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			
		</div>
	</footer>

</div>
</div>
</section>





		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script type="text/javascript" src="assets/js/sortColumns.js"></script>
		<script>
			// d = new Date();
		</script>
		<script type="text/javascript">
		<!--
			var d_names = new Array("Sunday", "Monday", "Tuesday", "Wednesday",
					"Thursday", "Friday", "Saturday");

			var m_names = new Array("January", "February", "March", "April",
					"May", "June", "July", "August", "September", "October",
					"November", "December");

			var d = new Date();
			var curr_day = d.getDay();
			var curr_date = d.getDate();
			var sup = "";
			if (curr_date == 1 || curr_date == 21 || curr_date == 31) {
				sup = "st";
			} else if (curr_date == 2 || curr_date == 22) {
				sup = "nd";
			} else if (curr_date == 3 || curr_date == 23) {
				sup = "rd";
			} else {
				sup = "th";
			}
			var curr_month = d.getMonth();
			var curr_year = d.getFullYear();
			document.getElementById("date").innerHTML = d_names[curr_day] + " "
					+ curr_date + "<SUP>" + sup + "</SUP> "
					+ m_names[curr_month] + " " + curr_year;

			var a_p = "";
			var hour = new Date();

			var curr_hour = hour.getHours();
			var curr_min = hour.getMinutes();

			if (curr_hour < 12) {
				a_p = "AM";
			} else {
				a_p = "PM";
			}
			if (curr_hour == 0) {
				curr_hour = 12;
			}
			if (curr_hour > 12) {
				curr_hour = curr_hour - 12;
			}

			var curr_min = hour.getMinutes();
			if (curr_min < 10) {
				document.getElementById("hour").innerHTML = curr_hour + " : 0"
						+ curr_min + " " + a_p;
			} else if (curr_min > 9) {
				document.getElementById("hour").innerHTML = curr_hour + " : "
						+ curr_min + " " + a_p;
			}
		</script>


		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main2.js"></script>
		
			<!-- the scripts for scroll to top -->
			<a href="#0" class="cd-top">Top</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="back-to-top/js/main.js"></script> <!-- Gem jQuery -->
		
		
</body>


</html>